.login-form {
  background-color:rgba(78, 205, 196, 1);
  padding: 10px;
  border: 1px solid black;
  text-align: center; 
}

.submit-button {
  margin-top: 20px;
  padding-right: 7%;
}

.email-field {
  padding-right: 12%;
}

.password-field {
  padding-right: 15%; 
}